.btn {
  border: none;
  font-size: 1.8rem;
  font-weight: $bold-2;
  background-color: $color-primary-2;
  padding: 1.2rem 2rem;
  border-radius: $radius;
  color: $color-neutral-1;
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  @media only screen and (max-width: 50em) {
    padding: 1rem 1.8rem;
  }

  &__text {
    margin-right: 1rem;
  }

  &__icon {
    background-color: #fff;
    padding: 10px 1.2rem;
    width: 85%;
    border-radius: 100%;

    @media only screen and (max-width: 50em) {
    }

    &-box {
    }
  }

  &:hover {
    background-color: #3672e96a;
    // color: rgba(255, 255, 255, 0.899);
    background-color: $color-secondary-1;

    color: $color-neutral-2;
    box-shadow: 1px 2px 2px #000;
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(-1px);
  }
}
