.header {
  display: flex;
  align-items: center;
  position: relative;

  justify-content: space-between;
  padding-top: 5rem; // instead of 72px
  margin-left: 15rem; // 120px
  margin-right: 15rem; // 120px
  background-color: $background-1;

  @media only screen and (max-width: 81.25em) {
    margin: 0 10rem;
  }

  @media only screen and (max-width: 62.5em) {
    margin: 0 5rem;
  }

  @media only screen and (max-width: 50em) {
    margin: 0 3rem;
  }
}

//
