.numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../images/features-background.png);
  background-position-x: right;
  background-position-y: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 15rem 5rem 15rem 5rem;

  @media only screen and (max-width: 81.25em) {
    margin-top: 0;
    // margin-bottom: 11rem;
  }

  @media only screen and (max-width: 68.75em) {
    margin: 7rem 2rem 10rem 2rem;
  }

  @media only screen and (max-width: 62.5em) {
    margin: 11rem 2rem 10rem 2rem;
  }

  @media only screen and (max-width: 50em) {
    flex-direction: column;
    gap: 9rem;
    background-size: 40%;
    margin-top: 10rem;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @media only screen and (max-width: 50em) {
      flex-direction: column;
      justify-content: center;
      gap: 1.8rem;
    }
  }

  &__text {
    line-height: 2.8rem;
    letter-spacing: 0.01em;
    color: #e0e0e0;

    &-box {
      display: flex;
      flex-direction: column;
      column-gap: 3rem;

      @media only screen and (max-width: 50em) {
        text-align: center;
      }
    }
  }

  &__heading {
    font-size: 4rem;
    font-weight: $bold-3;
    line-height: 6rem;

    @media only screen and (max-width: 50em) {
      font-size: 3rem;
    }
  }
}
