// FONT WEIGHTS
$bold-1: 400;
$bold-2: 500;
$bold-3: 700;

// COLORS
$color-primary-1: #0d0d2b;
$color-primary-2: #3671e9;

$color-secondary-1: #2b076e;

$color-neutral-1: #ffffff;
$color-neutral-2: #e0e0e0;
$color-neutral-3: #828282;

// BORDER - RADIUS
$radius: 3.2rem;

//BACKGROUNDS
$background-1: #0d0d2b;
$background-2: #2b076e;

//////////LINE HEIGHT/////////
$line-height-large: 8.2rem;
$line-height-medium: 7.4rem;
$line-height-normal: 2.7rem;

////////// MEDIA QUERIES///////////
$bp-largest: 75em;
